body {
  background-color: darkseagreen;
}
.App {
  border: solid;
  color: black;
  background: cover;
  text-align: center;
  font-style: oblique;
  font-weight: 400;
  font-size: 5px;
  margin: 30px 30px 30px 30px;
  justify-content: center;
  padding: 10px;
}
.h1 {
  font-size: small;
  justify-content: center;
}

button {
  background-color: transparent;
  padding: 10px 15px;
  text-align: center;
  font-size: 10px;
  cursor: cell;
  color: black;
  border: 2px solid lightgrey;
  border-radius: 50%;
  font-style: oblique;
  font-weight: 400;
  width: 20;
  height: 30;
  justify-content: center;
  margin: 10px;
}

button:hover {
  transition: ease-in 0.2s;
  background-color: white;
}
input {
  padding: 10px 20px;
  font-size: 0%;
  margin: auto;
  width: 30%;
  display: flex;
  justify-content: center;
}
.color {
  background-color: transparent;
  font-size: 4px;
  border-radius: 20px;
  size: 2px;
}
