.App {
  height: 100vh;
  background-color: black;
  color: black;
  text-align: center;
  font-style: oblique;
  font-weight: 400;
  font-size: 10px;
}
.h1 {
  font-size: small;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
  color: black;
  border: 2px solid lightgrey;
  border-radius: 50%;
  font-style: oblique;
  font-weight: 400;
  width: 400;
  height: 400;
  object-fit: cover;
}

button:hover {
  transition: ease-in 0.2s;
  background-color: white;
}
